@import "tailwindcss";

@theme inline {
  --color-sage-50: #f2f5f4;
  --color-sage-100: #eaf0ec;
  --color-sage-200: #c9d8d1;
  --color-sage-500: #718882;
  --color-sage-600: #5c706a;
  --color-sage-900: #3b4d47;
  
  --color-peach-100: #fbeaeb;
  --color-peach-500: #eebba5;

  --color-cream-100: #ffffff;
  --color-cream-500: #fcfbf9;
  --color-cream-900: #e8e4db;
  
  --color-ink-500: #8c857f;
  --color-ink-900: #4a4643;

  --color-background: var(--color-cream-500);
  --color-foreground: var(--color-ink-900);
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
